{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <h5><a href="{% url 'home' %}">Voltar</a></h5>
    <title>Criação de tarefa</title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container">
      <h1>Criação de tarefa</h1>
      <form action="{% url 'create' %}" method="post" class="form" autocomplete="off">
      {% csrf_token %}
      {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% endbuttons %}

      <form>
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
