{% load bootstrap4 static %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8" />
      <title>Criação de tarefa</title>
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   </head>
   <body>
    <div class="wrapper">
      <div class="container">
         <h5 class="back-link-container mb-4">
            <a href="{% url 'home' %}" class="btn btn-secondary back-button">&larr; Voltar</a>
         </h5>
         <h1 class="form-header text-center">Criação de Tarefa</h1>

         <div class="container1 bg-dark text-white border-dark rounded p-4 my-4 shadow">
         <form action="{% url 'create' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
         </div>  

            <div class="btn-container mt-3 text-center">
               <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
         </form>
      </div>
      <footer class="bg-dark text-white text-center py-3 mt-4">
        <p>&copy; {{ current_year }} My To-Do App</p>
     </footer>
    </div> 
      {% bootstrap_javascript jquery='full' %}
   </body>
</html>