<!DOCTYPE html>
<html lang="pt-br">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <h2> {{ title }} </h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for tarefas in tarefas%}
      <tr>
        <td><a href="{% url 'tarefa' tarefas.id %}"> {{ tarefas.titulo }} </a></td>
        <td> {{ tarefas.descricao }} </td>
        <td> {{ tarefas.get_status_display }} </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
</html>
